body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", "sans-serif", "monospace";
  background-image: url("background.jpg");
}

kbd {
  font-size: 40px;
  margin: 0;
  color: #eee;
}

.keys {
  margin: 2rem;
  display: flex;
  height: 100px;
}

.key {
  border: 4px solid black;
  border-radius: 15px;
  width: 80px;
  height: 80px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  // margin: 8px;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.3);
  border-color: gold;
  box-shadow: 0 0 10px gold;
}

.sound {
  color: gold;
}

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "xxl": 1600px
);

$number-of-columns: 12;

@each $breakpoint, $value in $breakpoints {
  @media only screen and (min-width: $value) {
    // Responsive column code
    @for $i from 1 through $number-of-columns {
      .col-#{$i}-#{$breakpoint} {
        width: (100% / ($number-of-columns / $i));
        padding: 0px 1rem;
        margin: 0 auto 0 auto;
      }
    }
  }
}
