body {
  padding: 0;
  margin: 0;
  font-family: "helvetica";
}

.section {
  display: flex;
  flex-direction: column;
}

.section > * {
  margin: 0 auto;
}

.search-form {
  .query {
    width: 20em;
    height: 2em;
    font-size: 1.5em;
    margin: 3em auto 3px auto;
    padding: 0.5rem;
    border: #eee 4px solid;
    border-radius: 8px;
    text-align: center;
  }

  .query:focus {
    border: lightsteelblue 4px solid;
  }

  .query::placeholder {
    color: #ddd;
  }

  .more {
    color: #ccc;
    font-style: italic;
  }

  .suggestions {
    display: absolute;
    z-index: 100;

    ul {
    }

    li {
      list-style: none;
      padding: 12px;
      border: gray 2px solid;
      box-shadow: 4px 4px #ddd;
    }
    li:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .pop {
      padding: 0 8px;
      float: right;
    }
    .map {
      float: right;
      padding: 0 8px;
    }
  }
}

.footnote {
  font-size: 0.8rem;
  color: #aaa;
  font-style: italic;
  text-align: right;
  float: right;
  margin-right: 1em;
}
